@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&family=Poppins:wght@400;600&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
   --height-nav: 3rem;

   @media (min-width: 32em) {
      --height-nav: 4rem;
   }

   @media (min-width: 48em) {
      --height-nav: 4.5rem;
   }
}

@layer components {
   .btn-primary {
      @apply py-1 px-4 text-slate-800 uppercase text-sm rounded bg-yellow-400 font-bold tracking-wider shadow;
   }
}

.control-dots{
   margin: 0!important;
   transform: translateY(150%);
}

.carousel.carousel-slider {
   overflow: visible!important;
}