@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&family=Poppins:wght@400;600&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
   --height-nav: 3rem;

   @media (min-width: 32em) {
      --height-nav: 4rem;
   }

   @media (min-width: 48em) {
      --height-nav: 6rem;
   }
}